.mainImg {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
}

.categoryMom {
  display: flex;
  height: 60%;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
  align-items: center;
}

.main-img-container1 {
  height: 50%;
  align-content: flex-end;
}
.main-img-container2 {
  height: 50%;
  align-items: center;
  justify-items: center;
}

.main-category-img {
  width: 150px;
  height: 150px;
}

@media (max-width: 768px) {
  .background_style {
    background-size: contain; /* 작은 화면에서는 contain으로 조정 */
  }
}
