.mainImg {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column-reverse;
  overflow: hidden;
}

.categoryMom {
  height: 40%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 30%;
  overflow: hidden;
}

.img {
  width: 150px;
  height: 50%;
  max-width: 100%;
}
